<%= form_for [commentable, commentable.comments.new] do |f| %>

<% if @comment.present? && @comment.errors.present? %>
	<div class="errors">
		<p>In order to publish your comment, check the following errors.</p>
		<ul>
		<% @comment.errors.full_messages.each do |error| %>
			<li><%= error %></li>
		<% end %>
		</ul>
	</div>
<% end %>

 <div class="form-group">
   <%= f.label :body, "Write your comment" %>
   <%= f.text_area :body, class: 'form-control input-lg col-sm-2' %>
   <%= f.hidden_field :commentable_type, value: commentable.class %>
 </div>

 <div class="actions text-right">
   <%= f.submit class: 'comment-submit' %>
 </div>
<% end %>